<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @if (ViewBag.SubTitle != null)
    {
        <title>@ViewBag.SubTitle</title>
    }
    else
    {
        <title>@ViewBag.Title</title>
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@

    @*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>*@

</head>
<body>
    <!--Facebook like button, according to https://developers.facebook.com/docs/plugins/like-button -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div id="headerbackground">
    </div>
    @if (ViewBag.Type != "Sektion")
    {
        <div id="navbackground">
        </div>
    }

    <div id="site">
        <header>
            <a href="~/Home/Index">
                <img id="headerpic" src="~/Content/Grafik/header.gif" />
            </a>
            @if (ViewBag.SubTitle == "Corax")
            {
                <img src="~/Content/Sektioner/corax.png" />
            }
            @if (ViewBag.SubTitle == "DokSek")
            {
                <img style="margin-top: 60px;" src="~/Content/Sektioner/doksek.png" />
            }
            @if (ViewBag.SubTitle == "Musik")
            {
                <img style="margin-top: 30px; " src="~/Content/Sektioner/musik.png" />
            }
            @if (ViewBag.SubTitle == "Serum")
            {
                <img src="~/Content/Sektioner/serum.png" />
            }
            @if (ViewBag.SubTitle == "Sesam")
            {
                <img style="margin-top: 50px;" src="~/Content/Sektioner/sesam.png" />
            }
            @if (ViewBag.SubTitle == "Sobra")
            {
                <img style="margin-top: 20px" src="~/Content/Sektioner/sobra.png" />
            }
            @if (ViewBag.SubTitle == "GIH")
            {
                <img style="margin-top: 20px;" src="~/Content/Sektioner/gih.png" />
            }
            @if (ViewBag.SubTitle == "Grythyttan")
            {
                <img src="~/Content/Sektioner/grythyttan.png" />
            }
            @if (ViewBag.SubTitle == "Teknat")
            {
                <img style="margin-top: 60px;" src="~/Content/Sektioner/teknat.png" />
            }
            <a id="blimedlem" href="https://medlem.orebrostudentkar.se/">
            </a>
        </header>
        @if (ViewBag.Type == "Sektion")
        {
            <p>
                <a href="~/Home/Index">
                    <img src="~/Content/Grafik/pil.png" />Tillbaks till Örebro Studentkårs huvudsida
                </a>
            </p>
        }
        else
        {
            @RenderPage("Navigation.cshtml")
        }

        <div>
            @RenderBody()

            <!--Ser till så innehållet inte hamnar bakom footern...Eller den gjorde det, nu vettefan varför den måste ligga där.-->
            <div id="footerseparator"></div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

    </div>

    <footer>
        <div id="footercontent">
            <div id="kontaktuppgifter">
                Telefon: 019 – 676 23 50 <br />
                E-mail: kansli@orebrostudentkar.se <br />
                Kansliets öppettider:<br />
                Alla vardagar 10.00 till 13.00
            </div>
            <div id="kansliöppettider">
                Post- och besöksadress:<br />
                Örebro studentkår <br />
                Fakultetsgatan 3 <br />
                702 81 Örebro
            </div>
            <div id="postadress">
                <a href="https://www.facebook.com/orebrostudentkar">
                    <img src="~/Content/Grafik/facebook.png" />
                </a>
                <a href="http://instagram.com/orebrostudentkar">
                    <img src="~/Content/Grafik/insta.png" />
                </a>

                
                <br />
                <div class="fb-like" data-href="https://www.facebook.com/orebrostudentkar" 
                     data-width="500" data-layout="button" data-action="like" 
                     data-show-faces="false" data-share="false"></div>
            </div>

        </div>
    </footer>
</body>
</html>
