<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @if (ViewBag.SubTitle != null)
    {
        <title>@ViewBag.SubTitle</title>
    }
    else
    {
        <title>@ViewBag.Title</title>
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
    <div id="headerbackground">
    </div>
    <div id="navbackground">
    </div>
    <div id="site">
        <header>
            <img id="headerpic" src="~/Content/Bilder/Grafik/header.gif" />

            <a id="blimedlem" href="https://medlem.orebrostudentkar.se/">
            </a>
        </header>
        <nav>
                <ul class="nav nav-tabs">
                    @if (ViewBag.Title == "Startsida")
                    {
                        <li class="active menyitem"><a href="http://localhost:50193/Home/Index">Startsida</a></li>
                    }
                    else
                    {
                        <li class="menyitem"><a href="http://localhost:50193/Home/Index">Startsida</a></li>
                    }
                    @if (ViewBag.Title == "Kårsektioner")
                    {
                        <li class="active menyitem">
                            <a class="dropdown-toggle"
                               href="http://localhost:50193/Sektion/Index">
                                Kårsektioner
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/Sektion/Index">Vad är en kårsektion?</a></li>
                                <li><a href="http://localhost:50193/Sektion/Corax">Corax</a></li>
                                <li><a href="http://localhost:50193/Sektion/DokSek">DokSek</a></li>
                                <li><a href="http://localhost:50193/Sektion/GIH">GIH</a></li>
                                <li><a href="http://localhost:50193/Sektion/Grythyttan">Grythyttan</a></li>
                                <li><a href="http://localhost:50193/Sektion/Musik">Musik</a></li>
                                <li><a href="http://localhost:50193/Sektion/Serum">Serum</a></li>
                                <li><a href="http://localhost:50193/Sektion/Sesam">Sesam</a></li>
                                <li><a href="http://localhost:50193/Sektion/Sobra">Sobra</a></li>
                                <li><a href="http://localhost:50193/Sektion/TekNat">TekNat</a></li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li class="menyitem">
                            <a class="dropdown-toggle"
                               href="http://localhost:50193/Sektion/Index">
                                Kårsektioner
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/Sektion/Index">Vad är en kårsektion?</a></li>
                                <li><a href="http://localhost:50193/Sektion/Corax">Corax</a></li>
                                <li><a href="http://localhost:50193/Sektion/DokSek">DokSek</a></li>
                                <li><a href="http://localhost:50193/Sektion/GIH">GIH</a></li>
                                <li><a href="http://localhost:50193/Sektion/Grythyttan">Grythyttan</a></li>
                                <li><a href="http://localhost:50193/Sektion/Musik">Musik</a></li>
                                <li><a href="http://localhost:50193/Sektion/Serum">Serum</a></li>
                                <li><a href="http://localhost:50193/Sektion/Sesam">Sesam</a></li>
                                <li><a href="http://localhost:50193/Sektion/Sobra">Sobra</a></li>
                                <li><a href="http://localhost:50193/Sektion/TekNat">TekNat</a></li>
                            </ul>
                        </li>
                    }
                    @if (ViewBag.Title == "Om oss")
                    {
                        <li class="active menyitem">
                            <a class="dropdown-toggle"
                               href="http://localhost:50193/Om/Index">
                                Om oss
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/Om/Index">Vad är ÖS?</a></li>
                                <li><a href="http://localhost:50193/Om/FUM">FUM</a></li>
                                <li><a href="http://localhost:50193/Om/KS">Kårstyrelsen</a></li>
                                <li><a href="http://localhost:50193/Om/Dokument">Dokument</a></li>
                                <li><a href="http://localhost:50193/Om/Studentrepresentanter">Studentrepresentanter</a></li>
                                <li><a href="http://localhost:50193/Om/Val">Val</a></li>
                                <li><a href="http://localhost:50193/Om/Historik">Historik</a></li>
                                <li><a href="http://localhost:50193/Om/ExternaKontakter">Externa kontakter</a></li>
                                <li><a href="http://localhost:50193/Om/Stipendium">Stipendium</a></li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li class="menyitem">
                            <a class="dropdown-toggle"
                               href="http://localhost:50193/Om/Index">
                                Om oss
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/Om/Index">Vad är ÖS?</a></li>
                                <li><a href="http://localhost:50193/Om/FUM">FUM</a></li>
                                <li><a href="http://localhost:50193/Om/KS">Kårstyrelsen</a></li>
                                <li><a href="http://localhost:50193/Om/Dokument">Dokument</a></li>
                                <li><a href="http://localhost:50193/Om/Studentrepresentanter">Studentrepresentanter</a></li>
                                <li><a href="http://localhost:50193/Om/Val">Val</a></li>
                                <li><a href="http://localhost:50193/Om/Historik">Historik</a></li>
                                <li><a href="http://localhost:50193/Om/ExternaKontakter">Externa kontakter</a></li>
                                <li><a href="http://localhost:50193/Om/Stipendium">Stipendium</a></li>
                            </ul>
                        </li>
                    }
                    @if (ViewBag.Title == "Ny student")
                    {
                        <li class="active menyitem">

                            <a class="dropdown-toggle"
                               href="http://localhost:50193/NyStudent/Index">
                                Ny student
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/NyStudent/Index">Välkommen ny student</a></li>
                                <li><a href="http://localhost:50193/NyStudent/HittaBoende">Hitta boende</a></li>
                                <li><a href="http://localhost:50193/NyStudent/Introduktionen">Introduktionen</a></li>
                                <li><a href="http://localhost:50193/NyStudent/Orebrogavan">Örebrogåvan</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="menyitem">
                            <a class="dropdown-toggle"
                               href="http://localhost:50193/NyStudent/Index">
                                Ny student
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/NyStudent/Index">Välkommen ny student</a></li>
                                <li><a href="http://localhost:50193/NyStudent/HittaBoende">Hitta boende</a></li>
                                <li><a href="http://localhost:50193/NyStudent/Introduktionen">Introduktionen</a></li>
                                <li><a href="http://localhost:50193/NyStudent/Orebrogavan">Örebrogåvan</a></li>
                            </ul>
                        </li>
                    }
                    @if (ViewBag.Title == "Studentliv")
                    {
                        <li class="active menyitem">
                            <a class="dropdown-toggle"
                               href="http://localhost:50193/Studentliv/Index">
                                Studentliv
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/Studentliv/Foreningar">Föreningar</a></li>
                                <li><a href="http://localhost:50193/Studentliv/EngageraDig">Engagera dig</a></li>
                                <li><a href="http://localhost:50193/Studentliv/Studiemiljo">Studiemiljö</a></li>
                                <li><a href="http://localhost:50193/Studentliv/Karhuset">Kårhuset</a></li>
                                <li><a href="http://localhost:50193/Studentliv/HyraLokal">Hyra lokal</a></li>
                                <li><a href="http://localhost:50193/Studentliv/Aktiviteter">Aktiviteter</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="menyitem">
                            <a class="dropdown-toggle"
                               href="http://localhost:50193/Studentliv/Index">
                                Studentliv
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/Studentliv/Foreningar">Föreningar</a></li>
                                <li><a href="http://localhost:50193/Studentliv/EngageraDig">Engagera dig</a></li>
                                <li><a href="http://localhost:50193/Studentliv/Studiemiljo">Studiemiljö</a></li>
                                <li><a href="http://localhost:50193/Studentliv/Karhuset">Kårhuset</a></li>
                                <li><a href="http://localhost:50193/Studentliv/HyraLokal">Hyra lokal</a></li>
                                <li><a href="http://localhost:50193/Studentliv/Aktiviteter">Aktiviteter</a></li>
                            </ul>
                        </li>
                    }
                    @if (ViewBag.Title == "Kontakta oss")
                    {
                        <li class="active menyitem">
                            <a href="http://localhost:50193/Home/KontaktaOss">Kontakta oss</a>
                        </li>
                    }
                    else
                    {
                        <li class="menyitem">
                            <a href="http://localhost:50193/Home/KontaktaOss">Kontakta oss</a>
                        </li>
                    }
                    @if (ViewBag.Title == "Dina rättigheter")
                    {
                        <li class="active menyitem">
                            <a class="dropdown-toggle"
                               href="http://localhost:50193/Utbildning/Index">
                                Dina rättigheter
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/Utbildning/Index">Utbildningsbevakning</a></li>
                                <li><a href="http://localhost:50193/Utbildning/VanligaFragor">Vanliga frågor</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="menyitem">
                            <a class="dropdown-toggle"
                               href="http://localhost:50193/Utbildning/Index">
                                Dina rättigheter
                                <img src="~/Content/Bilder/Grafik/arrowdown.gif" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:50193/Utbildning/Index">Utbildningsbevakning</a></li>
                                <li><a href="http://localhost:50193/Utbildning/VanligaFragor">Vanliga frågor</a></li>

                            </ul>
                        </li>
                    }

                </ul>
        </nav>
        <div>
            @RenderBody()
        </div>
       
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </div>
    <footer>
        <div id="footercontent">
            <div id="kontaktuppgifter">
                Telefon: 019 – 676 23 50 <br />
                E-mail: kansli@orebrostudentkar.se
            </div>
            <div id="kansliöppettider">
                Kansliets öppettider: <br />
                Alla vardagar 10.00 till 13.00 
            </div>
            <address id="postadress">
                Örebro studentkår <br />
                Fakultetsgatan 3 <br />
                702 81 Örebro
            </address>
            
        </div>
    </footer>
</body>
</html>
