<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @if (ViewBag.SubTitle != null)
    {
        <title>@ViewBag.SubTitle</title>
    }
    else
    {
        <title>@ViewBag.Title</title>
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
    <div id="headerbackground">
    </div>
    @if (ViewBag.Type != "Sektion")
    {
        <div id="navbackground">
        </div>
    }
    
    <div id="site">
        <header>
            <a href="~/Home/Index">
                <img id="headerpic" src="~/Content/Bilder/Grafik/header.gif" />
            </a>
            @if (ViewBag.SubTitle == "Corax")
            { 
                <img src="~/Content/Bilder/Grafik/Sektioner/corax.png" />
            }
            @if (ViewBag.SubTitle == "DokSek")
            {
                <img style="margin-top: 60px;" src="~/Content/Bilder/Grafik/Sektioner/doksek.png" />
            }
            @if (ViewBag.SubTitle == "Musik")
            {
                <img style="margin-top: 30px; "src="~/Content/Bilder/Grafik/Sektioner/musik.png" />
            }
            @if (ViewBag.SubTitle == "Serum")
            {
                <img src="~/Content/Bilder/Grafik/Sektioner/serum.png" />
            }
            @if (ViewBag.SubTitle == "Sesam")
            {
                <img style="margin-top: 50px;" src="~/Content/Bilder/Grafik/Sektioner/sesam.png" />
            }
            @if (ViewBag.SubTitle == "Sobra")
            {
                <img style="margin-top: 20px" src="~/Content/Bilder/Grafik/Sektioner/sobra.png" />
            }
            @if (ViewBag.SubTitle == "GIH")
            {
                <img style="margin-top: 20px;" src="~/Content/Bilder/Grafik/Sektioner/gih.png" />
            }
            @if (ViewBag.SubTitle == "Grythyttan")
            {
                <img src="~/Content/Bilder/Grafik/Sektioner/grythyttan.png" />
            }
            @if (ViewBag.SubTitle == "Teknat")
            {
                <img style="margin-top: 60px;" src="~/Content/Bilder/Grafik/Sektioner/teknat.png" />
            }
            <a id="blimedlem" href="https://medlem.orebrostudentkar.se/">
            </a>
        </header>
        @if (ViewBag.Type == "Sektion")
        {
            <p>
                <a href="~/Home/Index">
                    <img src="~/Content/Bilder/Grafik/pil.png" />Tillbaks till Örebro Studentkårs huvudsida
                </a>
            </p>
        }
        else
        {
            @RenderPage("Navigation.cshtml")
        }
        
        <div>
            @RenderBody()

            <!--Ser till så innehållet inte hamnar bakom footern...-->
            <div id="footerseparator"></div>
        </div>
       
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
       
    </div>
    
    <footer>
        <div id="footercontent">
            <div id="kontaktuppgifter">
                Telefon: 019 – 676 23 50 <br />
                E-mail: kansli@orebrostudentkar.se
            </div>
            <div id="kansliöppettider">
                Kansliets öppettider: <br />
                Alla vardagar 10.00 till 13.00 
            </div>
            <div id="postadress">
                Post- och besöksadress
                <address>
                    Örebro studentkår <br />
                    Fakultetsgatan 3 <br />
                    702 81 Örebro
                </address>
            </div>

            </div>
    </footer>
</body>
</html>
